body {
  margin: 0;
  background-color: #040400 !important;
}


.bannerimg img {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 900px) {
  .bannerimg img {
    width: 100% !important;
    height: 100% !important;
  }
}